// Header Styling
body {
    background-color: #79c7d4;
}
header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    display: inline;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.reversedImg {
    transform: scaleX(-1);
}

.howToPlay {
    margin-top: -50px;
}

.startingDirection {
    margin: 30px 0;
    color: white;
    font-size: 2rem;
}

.turns {
    margin: 20px 0 ;
    color: white;
    font-size: 1.2rem;
}

label {
    font-size: 1.2rem;
}

.exampleAns {
    color: white;
}


button {
    text-transform: uppercase;
    font-family: inherit;
    padding: 10px;
}

.hidden {
    display: none;
}

.submit {
    margin-top: 20px;
}

.angryDad {
    width: 250px;
}

.angryDadDiv{
    position: relative;
}

.dadYelling{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    left: 20px;
    transform: rotate(-17deg);
    width: 150px;
    margin: 0;
    text-align: center;
}
